@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic');

.drop-area {
    background: rgba(196, 196, 196, 0.1);
    border: 1px dashed rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 8px;
    width: 501px;
    height: 208px;
    font-family: 'Roboto';
    margin: 100px auto;
    padding: 20px;
    transition: all 0.2s ease-in 0s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-area:hover {
    border-color: #2F80ED;
}

.drop-area.highlight {
    background: rgba(196, 196, 196, 0.8);
    border: none;
}

.my-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.my-form p:first-child {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.my-form p:nth-child(2) {
    margin: 8px 0;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.2;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 4px;
    width: 113px;
    height: 30px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2F80ED;

    transition: all 0.5s ease 0s;
}

.button:hover {
    background: rgb(41, 41, 41);
    color: white;
    border: none;
}

#fileElem {
    display: none;
}

.progress-bar {
    background: inherit;
}